@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-RegIta.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ThinIta.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtLt.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtLtIta.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-LightIta.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-MedIta.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-BoldIta.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtBdIta.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-BlackIta.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("HelveticaNowDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-min: 16px;
  --font-preferred: 1.35vw;
  --font-max: 24px;
  --title-min: 48px;
  --title-preferred: 4.5vw;
  --title-max: 80px;
  --lineheight-multiplier: 1.2;
}

@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-mt-12;
  }
  .text-contrast {
    color: #fff;
    mix-blend-mode: difference;
  }
  .text-title-responsive {
    font-size: clamp(
      var(--title-min),
      var(--title-preferred),
      var(--title-max)
    );
    line-height: clamp(
      --lineheight-multipler * var(--title-min),
      --lineheight-multipler * var(--title-preferred),
      --lineheight-multipler * var(--title-max)
    );
  }
  .text-responsive {
    font-size: clamp(var(--font-min), var(--font-preferred), var(--font-max));
    line-height: clamp(
      --lineheight-multipler * var(--font-min),
      --lineheight-multipler * var(--font-preferred),
      --lineheight-multipler * var(--font-max)
    );
  }

  .slide-constant {
    text-decoration: none;
    display: inline-block;
  }
  .slide-constant:after {
    content: "";
    display: block;
    margin-top: 2px;
    height: 2px;
    transition: width 0.5s ease, background-color 0.5s ease; /* .5 seonds for changes to the width and background-color */
    -webkit-transition: width 0.5s ease, background-color 0.5s ease; /* Chrome and Safari */
    -moz-transition: width 0.5s ease, background-color 0.5s ease; /* FireFox */
    width: 100%;
    @apply bg-white;
  }
  .slide-left-right {
    text-decoration: none;
    display: inline-block;
  }
  /* add a empty string after the elment with class .slide-left-right */
  .slide-left-right:after {
    content: "";
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease; /* .5 seonds for changes to the width and background-color */
    -webkit-transition: width 0.5s ease, background-color 0.5s ease; /* Chrome and Safari */
    -moz-transition: width 0.5s ease, background-color 0.5s ease; /* FireFox */
  }
  /* Change the width and background on hover, aka sliding out */
  .slide-left-right:hover:after {
    width: 100%;
    @apply bg-white;
  }

  .slide-left-right-black {
    text-decoration: none;
    display: inline-block;
  }
  /* add a empty string after the elment with class .slide-left-right */
  .slide-left-right-black:after {
    content: "";
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease; /* .5 seonds for changes to the width and background-color */
    -webkit-transition: width 0.5s ease, background-color 0.5s ease; /* Chrome and Safari */
    -moz-transition: width 0.5s ease, background-color 0.5s ease; /* FireFox */
  }
  /* Change the width and background on hover, aka sliding out */
  .slide-left-right-black:hover:after {
    width: 100%;
    @apply bg-theme;
  }
  .theme-button-outline {
    @apply border-theme border px-3 py-1 text-theme hover:text-white hover:bg-theme-darker hover:border-theme-darker transition ease-in duration-200;
  }

  .theme-button-white-outline {
    @apply border-white border px-3 py-1 hover:text-black hover:bg-white transition ease-in duration-200;
  }

  .theme-button {
    @apply px-3 py-1 bg-theme hover:bg-theme-darker text-white hover:text-white hover:shadow-lg transition ease-in duration-200 focus:outline-none cursor-pointer disabled:bg-gray-500 disabled:cursor-not-allowed;
  }

  .arrow span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 4s infinite;
  }
  .arrow span:nth-child(2) {
    animation-delay: -0.4s;
  }
  .arrow span:nth-child(3) {
    animation-delay: -0.8s;
  }
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-5px, -5px);
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(10px, 10px);
    }
  }

  .border-bottom {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
  }
  .border-bottom-white {
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
  }
  .min-h-90 {
    min-height: 90vh;
  }
  .min-h-70 {
    min-height: 70vh;
  }
  .h-card {
    height: 30vh;
  }
  .filter-grayscale {
    filter: grayscale(80%);
  }
  .section-x {
    @apply px-6 lg:px-24 2xl:px-36 mx-auto;
  }
  .section-y {
    @apply py-14 2xl:py-28;
  }
  .section {
    @apply section-x section-y;
  }
  .fade {
    animation: fadeAnimation cubic-bezier(0.5, 0, 0, 1) 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeAnimation {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    33% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
  @layer components {
    .photo-text {
      width: 560px;
    }
    .text-title {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}
